<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaohe.gateway.center.mapper.GatewayServerDetailMapper">

    <!--配置-->
    <!--id  接口对应的方法-->
    <!--parameterType 方法入参类别 [可简写]-->
    <!--useGeneratedKeys 可理解成是否有返回值-->
    <!--keyProperty 返回值(主键)类别为-->
    <!--注: 返回值不是指方法中返回的值，而是执行后自动在（添加/更新）对象里被赋值-->
    <!--#{?} 入参类别中的属性-->
    <!--Map<String,Object> selectMapById(Long id);-->

    <select id="queryGatewayServerDetail"
            parameterType="com.xiaohe.gateway.center.common.OperationRequest"
            resultType="com.xiaohe.gateway.center.model.entity.GatewayServerDetail">
        SELECT id, group_id, gateway_id, gateway_name, gateway_address, status, create_time, update_time
        FROM gateway_server_detail
        <where>
            <if test="data != null and data.groupId != ''">
                and group_id = #{data.groupId}
            </if>
            <if test="data != null and data.gatewayId != ''">
                and gateway_id = #{data.gatewayId}
            </if>
        </where>
        order by id desc
        limit #{pageStart},#{pageEnd}
    </select>
</mapper>
